.layout {
	&__container {
		--scoped-layout-container-width: var(--global-containers-full);
		--scoped-layout-gutter: var(--global-gutters-big);

		@include media(tablet up) {
			--scoped-layout-gutter: var(--global-gutters-default);
		}

		@include media(desktop up) {
			--scoped-layout-gutter: var(--global-gutters-none);
			--scoped-layout-container-width: var(--global-containers-default);
		}

		@include media(large up) {
			--scoped-layout-container-width: var(--global-containers-default);
		}

		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		width: 100%;
		margin: 0 auto;
		max-width: var(--scoped-layout-container-width);
		padding: {
			left: var(--scoped-layout-gutter);
			right: var(--scoped-layout-gutter);
		};

		@include media(desktop up) {
			max-width: var(--global-containers-default);
		}

		@include media(large up) {
			max-width: var(--global-containers-default);
		}
	}
}
