{% extends 'base.html.twig' %}

{% block content %}
    <h2>PHP reference</h2>

    {% set node = project.namespace %}

    {{
    include(
        'components/table-of-contents.html.twig',
        {
            'node': project.namespace,
            'namespaces': usesNamespaces or not usesPackages ? node.children : [],
            'packages': usesPackages ? project.package.children : []
        }
    )
    }}
    {{ include('components/constants.html.twig', {'node': project.namespace}) }}
    {{ include('components/functions.html.twig', {'node': project.namespace}) }}
{% endblock %}
