#
# Exclude these files from release archives.
# This will also make them unavailable when using Composer with `--prefer-dist`.
# If you develop for WPCS using Composer, use `--prefer-source`.
# https://blog.madewithlove.be/post/gitattributes/
#
/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/docs export-ignore
/documentation export-ignore
/CODE_OF_CONDUCT.md export-ignore
/tests export-ignore
/package.json export-ignore
/patchwork.json export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml export-ignore
/package export-ignore
/docs export-ignore
/.phpdoc.xml.dist
/bin

/package export-ignore

#
# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
#
* text=auto

#
# The above will handle all files NOT found below
#
*.md text
*.php text
*.inc text
*.js text
