<?xml version="1.0"?>
<ruleset name="Eightshift Library">
	<description>Eightshift Library uses extended WordPress coding standards with some minor corrections.</description>

	<rule ref="Eightshift"/>

	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>

	<!-- Additional arguments. -->
	<arg value="sp"/>
	<arg name="basepath" value="."/>
	<arg name="parallel" value="8"/>
	<arg name="extensions" value="php"/>

	<file>.</file>

	<!-- Check for PHP cross-version compatibility. -->
	<config name="testVersion" value="8.3-"/>
	<rule ref="PHPCompatibilityWP"/>

	<!-- Support only latest 3 WP versions. -->
	<config name="minimum_supported_wp_version" value="8.2"/>

	<rule ref="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents">
		<exclude-pattern>*/src/**/*Cli</exclude-pattern>
	</rule>

	<rule ref="PSR12.Operators.OperatorSpacing.NoSpaceAfter">
		<exclude-pattern>*/src/*/*Example.php</exclude-pattern>
	</rule>

	<rule ref="PSR12.Operators.OperatorSpacing.NoSpaceBefore">
		<exclude-pattern>*/src/*/*Example.php</exclude-pattern>
	</rule>

	<rule ref="Eightshift.Security.HelpersEscape.OutputNotEscaped">
		<exclude-pattern>*/src/*/*Example.php</exclude-pattern>
	</rule>

	<rule ref="SlevomatCodingStandard.Namespaces.FullyQualifiedGlobalConstants.NonFullyQualified">
		<exclude-pattern>*/src/*/*Example.php</exclude-pattern>
	</rule>

	<rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFullyQualifiedName">
		<exclude-pattern>*/src/*/*Example.php</exclude-pattern>
	</rule>

	<!-- Ignore unescaped exceptions. All Eightshift exceptions are escaped. -->
	<rule ref="Eightshift.Security.HelpersEscape.ExceptionNotEscaped">
		<severity>0</severity>
	</rule>

	<!-- Ignore filesystem alternative functions. -->
	<rule ref="WordPress.WP.AlternativeFunctions.file_system_operations_mkdir">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.WP.AlternativeFunctions.file_system_operations_fopen">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.WP.AlternativeFunctions.file_system_operations_fwrite">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.WP.AlternativeFunctions.file_system_operations_fclose">
		<severity>0</severity>
	</rule>

	<rule ref="Generic.Files.LineLength">
		<exclude-pattern>*/src/**/*Cli.php</exclude-pattern>
		<properties>
			<property name="lineLimit" value="180" />
		</properties>
	</rule>
</ruleset>
