includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 6
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: false
	scanFiles:
		- vendor/wp-cli/wp-cli/php/class-wp-cli.php
	bootstrapFiles:
		- %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
	paths:
		- src/
	excludePaths:
		- src/**/*Example.php
	ignoreErrors:
		# Uses func_get_args()
		- '/^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$/'
		# Ignore errors about reflection class variable being undefined. Errors are caught.
		- '/^Variable \$reflectionClass might not be defined\.$/'
