// stylelint-disable max-nesting-depth

$wrapper: (
  background-colors: (
    white: $base-white-color,
    primary:  $base-primary-color,
    black:  $base-black-color,
  ),
  spacings: (
    great:      300px,
    gigantic:   280px,
    gargantuan: 260px,
    extensive:  240px,
    enormous:   220px,
    colossal:   200px,
    hugest:     180px,
    huger:      160px,
    huge:       140px,
    giant:      120px,
    biggest:    100px,
    bigger:     90px,
    big:        80px,
    largest:    70px,
    larger:     60px,
    large:      50px,
    default:    40px,
    medium:     30px,
    small:      20px,
    tiny:       10px,
    no-spacing: 0,
  ),
  containers: (
    default: $base-container-size,
  ),
);

.wrapper {
  $this: &;

  &__bg-color {
    @include modifiers-deep($wrapper, background-colors, background-color);
  }

  &__spacing-top {
    @include responsive-selectors {
      @include modifiers-deep($wrapper, spacings, padding-top);
    }
  }

  &__spacing-bottom {
    @include responsive-selectors {
      @include modifiers-deep($wrapper, spacings, padding-bottom);
    }
  }

  &__hide-block {
    @include responsive-visibility-selectors {
      display: none;
    }
  }

  // Container DIV.
  &__container {
    margin: 0 auto;
    width: 100%;
    display: flex;
  }

  &__container-width {
    @include responsive-selectors {
      @include modifiers-deep($wrapper, containers, max-width);
    }
  }

  &__container-spacing {
    @include responsive-selectors {
      &--default {
        padding-left: $base-gutter-size;
        padding-right: $base-gutter-size;
      }

      &--no-spacing {
        padding: 0;
      }
    }
  }

  // Inner Container Div.
  &__inner {
    @include flex-grid-width;
  }

  &__inner-content-width {
    @include responsive-selectors {
      @include flex-grid-width-modifiers;
    }
  }

  // Content Offset.
  &__inner-offset {
    @include responsive-selectors {
      &--content-spacing {
        padding-left: calc-grid-width(4);
        margin: 0;
      }

      &--center {
        margin: 0 auto;
        padding: 0;
      }
    }
  }
}
